<configuration>
    <system.webServer>

        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>

        <rewrite>
            <rules>
                <rule name="mainRequestPipeTo">
                    <match url="/*"/>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>

        <iisnode enableXFF="false" loggingEnabled="true" devErrorsEnabled="true"/>
        <httpErrors existingResponse="PassThrough"/>
        
    </system.webServer>
</configuration>
